# Dependencies
/node_modules

# Vercel
.vercel/

# Build output
/dist

# Environment variables (VERY IMPORTANT)
.env
.env.local
.env.*.local

# Vite
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*