@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0 !important;
}

body {
  background: none;
  font-family: 'Roboto', sans-serif;
  color: #111827;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.no-margin {
  margin: 0;
}

.signup-bg, .login-bg {
  background-image: url('/images/signup&login bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}